<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>k8s - Tests</title>
  <meta name="description" content="Application pour tester les deployments Kubernetes.">
  <meta name="author" content="Popa Ionut">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <h2>Hostname : {{ hostname }} </h2>
    <h2>Addresse IP : {{ ip_address }} </h2>
    <h2>Connexion vers : {{ remote_connection }} : {{ remote_port }} </h2>

  <script src="js/scripts.js"></script>
</body>
</html>

